@font-face {
	font-family: '4000-heavy';
	src: url('../assets/Fonts/4000-Heavy.woff2') format('woff2'),
		 url('../assets/Fonts/4000-Heavy.woff') format('woff');
}

@font-face {
	font-family: '4000';
	src: url('../assets/Fonts/a000.woff2') format('woff2'),
		 url('../assets/Fonts/a000.woff') format('woff');
}

@font-face {
	font-family: '4000-italic';
	src: url('../assets/Fonts/4000-Italic.woff2') format('woff2'),
		 url('../assets/Fonts/4000-Italic.woff') format('woff');
}

@font-face {
	font-family: '4000-bold';
	src: url('../assets/Fonts/-Bold.woff2') format('woff2'),
		 url('../assets/Fonts/-Bold.woff') format('woff');
}